.about2 {
  color: rgb(0, 0, 0);
  /* margin-top: 25px; */
  /* border: 1px solid #3a3636; */
  width: 100%;
  overflow: hidden;
  padding: 10rem 0rem;

  /* background: rgb(205,125,205);
    background: radial-gradient(circle, rgba(205, 125, 205, 0.209) 0%, rgba(75, 133, 177, 0.074) 89%, rgba(148, 188, 200, 0.249) 100%); */
}
.container {
  width: 80%;
  margin: auto;
  /* border: 1px solid #4116cd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}

/* -------------left start- ------------------------ */
.leftDiv {
  width: 50%;
  /* border: 1px solid #000; */
}

.back_div {
  border: 1px solid #17b7c3;
  width: max-content;
  max-width: max-content;
  border-radius: 10px;
  border-radius: 5px;
}

/* -------------left end------------------------- */

/* -------------right start- ------------------------ */
.rightDdiv {
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-start; */

  border-radius: 15px;
  /* border: 1px solid rgba(0,0,0, 0.28); */
  width: 40%;
}
table {
  /* border: 1px solid #c91313; */
}
tbody tr {
  /* display: flex; */
  margin: 1rem 0rem;
}
tbody td {
  padding: 0.7rem 1rem;
}


/* -------------right end------------------------- */

@media only screen and (min-width: 900px) and (max-width: 1250px) {
  .container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}
@media only screen and (max-width: 455px) {
  
  .container {
     flex-direction: column;
    gap: 2rem 0rem;
    align-items: center;
  }
  .leftDiv {
   text-align: center;
  }
  .leftDiv img{
    max-width: 250px;

    /* border: 1px solid #000; */
  }
  .rightDdiv {
    padding: 0rem 0rem;
    /* text-align: center; */
   /* margin: auto; */
   /* border: 1px solid #000; */
    width: 90%;
  }
}