.about2 {
  color: rgb(0, 0, 0);
  /* margin-top: 25px; */
  border: 1px solid #f2f2f2;

  padding: 10rem 0rem;

  /* background: rgb(205,125,205);
    background: radial-gradient(circle, rgba(205, 125, 205, 0.209) 0%, rgba(75, 133, 177, 0.074) 89%, rgba(148, 188, 200, 0.249) 100%); */
}
.container {
  width: 80%;
  margin: auto;
  /* border: 1px solid #4116cd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------left start- ------------------------ */
.leftDiv {
  width: 50%;
  /* border: 1px solid #000; */
}

.back_div {
  border: 1px solid #17b7c3;
  max-width: fit-content;
  border-radius: 10px;
  border-radius: 5px;
}

/* -------------left end------------------------- */

/* -------------right start- ------------------------ */
.rightDdiv {
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-start; */

  border-radius: 15px;
  /* border: 1px solid rgba(0,0,0, 0.28); */
  width: 40%;
}
table {
  /* border: 1px solid #c91313; */
}
tbody tr {
  /* display: flex; */
  margin: 1rem 0rem;
}
tbody td {
  padding: 0.7rem 1rem;
}
.btn_back_div {
  border-radius: 5px;
  max-width: fit-content;

  background-color: #17b7c3;
}
.button {
  border: 1px solid #17b7c3;
  background: white;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
}
/* .button {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  background: #ffffff;
  background-size: 400%;
  color: #0e0e0e;
  border: 1px solid #000;
}
.button:hover::before {
  transform: scaleX(1);
}
.buttonContent {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
} */

/* -------------right end------------------------- */

@media only screen and (min-width: 900px) and (max-width: 1250px) {
  .container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}
