.about2 {
  color: rgb(0, 0, 0);
  /* margin-top: 25px; */
  /* border: 1px solid #3a3636; */
  width: 100%;
  overflow: hidden;
  /* padding: 10rem 0rem; */
  margin: 10rem 0rem;

  /* background: rgb(205,125,205);
    background: radial-gradient(circle, rgba(205, 125, 205, 0.209) 0%, rgba(75, 133, 177, 0.074) 89%, rgba(148, 188, 200, 0.249) 100%); */
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 8rem;
  align-items: center;
}

/* -------------left start- ------------------------ */
.leftDiv {
  width: 30%;
  /* border: 1px solid #000; */
}

.leftDiv img {
  width: 100%;
  /* border: 1px solid #000; */
}

.back_div {
  border: 1px solid #17b7c3;
  width: 80%;
  /* width: fit-content; */
  max-width: fit-content;
  border-radius: 10px;
  border-radius: 5px;
}

/* -------------left end------------------------- */

/* -------------right start- ------------------------ */
.rightDdiv {
  /* width: 50%; */
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  /* gap: 4rem 4rem; */
  border-radius: 15px;
  width: 80%;

  /* border: 1px solid #000; */
}
.rightDdiv p {
  font-size: 1.2rem;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.rightDdiv span {
  color: #17b7c3;
}
.skill_div {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.5rem 0rem;
}
.card {
  text-align: center;
  border: 1px solid #17b7c3;
  padding: 0.8rem 0rem;
  border-radius: 15px;
  max-width: 280px;
  min-width: 280px;
}
.card h2 {
  color: rgb(116, 115, 115);
}

/* -------------right end------------------------- */

@media only screen and (min-width: 1200px) and (max-width: 1450px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .rightDdiv {
    width: 90%;
  }
}
@media only screen and (min-width: 890px) and (max-width: 1200px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .my_desc {
    text-align: justify;
    padding: 0rem 0.5rem;
  }
  .leftDiv {
    width: 45%;
    margin: auto;
    /* border: 1px solid #000; */
  }
  .leftDiv div {
    /* max-width: 250px; */
    margin: auto;
    /* border: 1px solid #000; */
  }
  .card_container {
    /* border: 1px solid #000; */
    justify-content: center;
  }
  .skill_div {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    margin: auto;
    width: 60%;
    justify-content: center;
    /* border: 1px solid #000; */
  }
  .rightDdiv {
    width: 90%;
  }
 
  .button_div{
    display: flex;
    justify-content: center;
  }
  .button_div{
    margin-left: 1rem;
  }
}
@media only screen and (min-width: 455px) and (max-width: 895px) {
  .container {
    width: 100%;
    flex-direction: column;
    /* border: 1px solid #000; */
  }
  .leftDiv {
    width: 50%;
    margin: auto;
    /* border: 1px solid #000; */
  }
  .leftDiv div {
    /* max-width: 250px; */
    margin: auto;
    /* border: 1px solid #000; */
  }
  .rightDdiv {
    width: 100%;
  }
  .my_desc {
    text-align: justify;
    padding: 0rem 0.5rem;
  }
  .card_container {
    /* border: 1px solid #000; */
    justify-content: center;
  }
  .skill_div {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    margin: auto;
    width: 100%;
    justify-content: center;
    /* border: 1px solid #000; */
  }


  .button_div{
    display: flex;
    justify-content: center;
  }
  .button_div{
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 455px) {
  .container {
    flex-direction: column;
    gap: 2rem 0rem;
    align-items: center;
  }
  .leftDiv {
    width: 80%;
    margin: auto;
    /* border: 1px solid #000; */
    /* text-align: end; */
  }
  .leftDiv div {
    /* max-width: 250px; */
    margin: auto;
    /* border: 1px solid #000; */
  }
  .rightDdiv {
    padding: 0rem 0rem;
    width: 100%;
    margin: auto;

    /* border: 1px solid #000; */
  }
  .my_desc {
    text-align: justify;
    padding: 0rem 0.5rem;
  }
  .card_container {
    /* border: 1px solid #000; */
    justify-content: center;
  }
  .skill_div {
    width: 100%;
    /* border: 1px solid #000; */
    gap: 0rem 1rem;
    margin: 1rem 0rem;
  }
  .skill_div div {
    width: 100%;
    width: max-content;
    margin: auto;
    /* border: 1px solid #000; */
  }
  .button_div{
    margin-left: 1rem;
  }
 
  .button_div{
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 370px) {
  .skill_div {
    margin-left: -1rem;
    gap: 0rem 0.4rem;
/* gap */
  }
  .button_div{
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 300px) {
  .skill_div {
    display: flex;
    flex-wrap: wrap;
  }
}
