.contact {
  /* display: flex; */
  /* justify-content: center; */
  width: 100%;
  margin: auto;
  overflow: hidden;
  /* color: rgb(0, 0, 0); */
  padding: 0rem 0rem 8rem 0rem;
  /* border: 1px solid #000; */
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.container {
  color: rgb(15, 14, 14);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 10rem;
 /* border: 1px solid #000; */

}
.card {
  /* width: 240px; */
  /* padding: 10px; */
  height: 260px;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* box-shadow: rgba(80, 202, 246, 0.84) 0px 2px 6px; */

  /*  */
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* padding: 32px; */
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.icon {
  background-color: #1a1a1a;
  color: #4dbdfa;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  border-radius: 50%;
}
.desc {
  color: #111010;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.desc h5 {
}
.desc p {
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #09a9ffdd 0%, #9379e198 100%);

  /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%); */
  z-index: -1;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
}
.card:hover .icon {
  color: #212121;
  background: #e8e8e8;
}

.card .icon:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.card .icon:active {
  box-shadow: none;
}

@media only screen and (min-width: 1275px) and (max-width: 1350px) {
  .contact {
    width: 95%;
    margin: auto;
  }
}