.home {
  position: relative;

  color: rgb(5, 5, 5);
  /* margin-top: 25px; */
  /* border: 1px solid #332f2f; */
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  padding: 4rem 0rem 8rem 0rem;
  background-color: #ffffff;
}

.container {
  width: 80%;
  margin: auto;
  /* border: 1px solid #16afcd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_div {
  text-align: end;
  display: flex;
  justify-content: end;
  width: 60%;
  /* border: 1px solid #000; */
}
/* -------------left start- ------------------------ */
.animated_text {
  margin: 2rem 0rem;
}
.h_text {
  color: rgb(49, 175, 228);
}
/* -------------left end------------------------- */

/* -------------right start- ------------------------ */
.home_img {
  width: 100%;
  /* margin-left: ; */
  border-radius: 20px;
}
/* -------------right end------------------------- */

@media only screen and (min-width: 1000px) and (max-width: 1430px) {
  .container {
    width: 85%;
    /* padding: 4rem 0rem; */
  }
  .container div {
    /* border: 1px solid #000; */
  }
}

@media only screen and (min-width: 455px) and (max-width: 850px) {
  .home {
    padding: 4rem 0rem 4rem 0rem;
  }
  .container {
    flex-direction: column;
    gap: 1rem 0rem;
    width: 90%;
    /* border: 1px solid #000; */
  }
  .left_div {
    width: 100%;
    /* border: 1px solid #000; */
  }
  .right_div {
    width: 70%;
  }
}
@media only screen and (min-width: 455px) and (max-width: 685px) {
  .right_div {
    width: 90%;
  }
}

@media only screen and (max-width: 455px) {
  .home {
    padding: 0;
    padding: 0rem 0rem 0rem 0rem;

    /* border: 1px solid #000; */
  }
  .container {
    flex-direction: column;
    gap: 1rem 0rem;
    width: 95%;
  }
  .right_div {
    width: 95%;
  }
}
