#home{
    color: white;
    margin-top: 25px;
    /* border: 1px solid #f2f2f2; */
    padding: 10rem 0rem;
}
.container{
      width: 80%;
      margin: auto;
      /* border: 1px solid #16afcd; */
      display: flex;
      justify-content: space-between;
      align-items: center;
}

/* -------------left start- ------------------------ */
.animated-text{
    margin: 2rem 0rem;
}
.h-text{
    color: rgb(49, 175, 228);
}
/* -------------left end------------------------- */

/* -------------right start- ------------------------ */
.home-img{
    width: 80%;
    border-radius: 20px;
}
/* -------------right end------------------------- */